<table>
	<tr>
    <th>クラス</th>
		<th>男子</th>
		<th>女子</th>
		<th>合計</th>
	</tr>
	<% @child_history_list.each do |child_history| %>
    <tr>
      <%= class_room_link_td(child_history.class_room_id, {align: 'center'}) %>
      <td><%= child_history.total_m_count %></td>
      <td><%= child_history.total_f_count %></td>
      <td><%= child_history.total_count %></td>
    </tr>
  <% end %>
</table>

<br />

<%= back_button %>
