<%= form_for(child) do |f| %>
  <% if child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>ステータス</label>
  <div class="field" style="display:inline-flex">
    <% if controller.action_name == 'edit' %>
      <%= radio_button :child_history, :history_code, 'keep', checked: true %>
      <%= label "child_history_history_code", 'keep', '変更なし' %>
      　／　
    <% end %>
    <%= date_select :child_history, :change_date, { use_month_numbers: true, 
                                                    date_separator: '/' } %>　に
    <% @history_code_list.each do |history_code| %>
      <%= radio_button :child_history, :history_code, history_code[0] %>
      <%= label "child_history_history_code", history_code[0], history_code[1] %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :unique_num, '固有番号（入園年度＋〇年保育＋願書番号３ケタ）' %>
    <%= f.number_field :unique_num, disabled: edit_flg %>
  </div>

  <div class="field">
    <%= f.label :full_name, '名前' %>
    漢字<%= f.text_field :full_name,   disabled: edit_flg %><br />
    かな<%= f.text_field :full_name_f, disabled: edit_flg %>
  </div>

  <div class="field">
    <%= f.label :sex_code, '性別' %>
    <%= f.select :sex_code, sex_list, {prompt: '選択してください'}, disabled: edit_flg %>
  </div>

  <div class="field">
    <%= f.label :class_room_id, 'クラス' %>
    <%= f.select :class_room_id, Constants::CR_LIST, {selected: child.class_room_id, prompt: '選択してください'}, disabled: edit_flg %>
  </div>

  <div class="field">
    <%= f.label :post_number, '住所' %>
    〒<%= f.text_field :post_number, size: 10 %><br />
    <%= f.text_field :address, size: 50 %>
  </div>

  <div class="field">
    <%= f.label :l_phone_number, '電話番号' %>
    固定：<%= f.text_field :l_phone_number, size: 10 %><br />
    携帯：<%= f.text_field :c_phone_number, size: 10 %>
  </div>

  <%# 登録時のみバスコース設定可能。編集は別画面。 %>
    <div class="field">
      <%= f.label :main_bus_stop_id, 'バス利用' %>
      <%= f.select :main_bus_stop_id, @bus_course_list_main, {prompt: '選択してください'} %>
    </div>

    <div class="field">
      <%= f.label :sub_bus_stop_id, 'バス利用（サブ）' %>
      <%= f.select :sub_bus_stop_id, @bus_course_list_sub %>
    </div>
  <%# end %>

  <div class="actions">
    <% action_str = edit_flg ? '変更' : '登録' %>
    <%= f.submit(action_str, class: 'btn btn-success') %>
    <%= back_button_ww(action_str) %>
  </div>
<% end %>
