<p id="notice"><%= notice %></p>

<h1>園児情報</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'ステータス', {sort: params[:sort] == 'status' ? 'status desc' : 'status'} %></th>
      <th><%= link_to 'クラス', {sort: params[:sort] == 'class' ? 'class desc' : 'class'} %></th>
      <th><%= link_to '名前', {sort: params[:sort] == 'name' ? 'name desc' : 'name'} %></th>
      <th>電話番号</th>
      <th><%= link_to '住所', {sort: params[:sort] == 'address' ? 'address desc' : 'address'} %></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td align='right'><%= status_str(child.history_code) %></td>
        <td bgcolor=<%=Constants::CR_HASH[child.class_room_id][:color]%> align='center'>
          <%= Constants::CR_HASH[child.class_room_id][:name] %>
        </td>
        <td>
          <%= link_to child, style: "text-decoration: none;" do %>
            <font color=<%= child.sex_code == 'female' ? 'ff0000' : '' %>><%= child.full_name %><br><%= child.full_name_f %></font>
          <% end %>
        </td>
        <td><%= child.l_phone_number %><br><%= child.c_phone_number %></td>
        <td><%= child.post_number %><br><%= child.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新入園児登録', new_child_path %>