<p id="notice"><%= notice %></p>

<h1>園児情報</h1>

<table>
  <thead>
    <tr>
      <th>クラス</th>
      <th>名前</th>
      <th>住所</th>
      <th>電話番号</th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td bgcolor=<%=Constants::CR_HASH[child.class_room_id][:color]%> align='center'>
          <%= Constants::CR_HASH[child.class_room_id][:name] %>
        </td>
        <td>
          <%= link_to child, style: "text-decoration: none;" do %>
            <font color=<%= child.sex_code == 'female' ? 'ff0000' : '' %>><%= child.full_name %><br><%= child.full_name_f %></font>
          <% end %>
        </td>
        <td><%= child.l_phone_number %><br><%= child.c_phone_number %></td>
        <td><%= child.post_number %><br><%= child.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新入園児登録', new_child_path %>