<script type="text/javascript">
jQuery(function($){
  // 最初に隠す
  $('#personal').hide();
  $('#absent_data').hide();

  // toggleメソッド
  function hide_show(id_name, button_name, html_str){
    if($(id_name).css('display') != 'block'){
      $(button_name).html(html_str + "を閉じる");
    }else{
      $(button_name).html(html_str + "を見る");
    }
  }

  // ボタン押したときの挙動
  $("#pe_button").on('click', function(){
    $("#personal").toggle("",hide_show("#personal", "#pe_button", "詳細"));
  });
  // ボタン押したときの挙動
  $("#ab_button").on('click', function(){
    $("#absent_data").toggle("",hide_show("#absent_data", "#ab_button", "欠席一覧"));
  });

  <% if @main_bc %>
    $('#main_bus_course').balloon({contents: '<%= @mbs.name %>'});
    <% if @sub_bc %>
      $('#sub_bus_course' ).balloon({contents: '<%= @sbs.name %>'});
    <% end %>
  <% end %>
});
</script>

<h3>
  <%= class_room_link_span(@child.class_room_id, {align: 'center'}) %>
  <%= @child.full_name %>
  <% if @main_bc %>
    <span id='main_bus_course' style='background-color:#<%= @main_bc[:color] %>;'><%= @main_bc[:name] %></span>
    <% if @sub_bc %>
      <span id='sub_bus_course'  style='background-color:#<%= @sub_bc[:color]  %>;'><%= @sub_bc[:name]  %></span>
    <% end %>
  <% end %>
  <button id='pe_button' type="button" class="btn btn-default">詳細見る</button>
</h3>

<div id='personal'>
  <table>
    <tr>
      <td>住所</td>
      <td>
        <%= @child.post_number %><br />
        <%= @child.address %>
      </td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td>
        <%= @child.l_phone_number %><br />
        <%= @child.c_phone_number %>
      </td>
    </tr>
    <tr>
      <td>固有番号</td>
      <td><%= @child.unique_num %></td>
    </tr>
  </table>

  <%= link_to (button_tag '編集', type: 'button'), edit_child_path(@child) %>
</div>

<table class='table table-bordered table-condensed' style='width:400px;'>
  <tr>
    <% Constants::ALL_CODES['absent'].each do |code, data| %>
      <td width="25%" align='center'><%= data[:view_name] %></td>
    <% end %>
  </tr>
  <tr style='background-color:<%= absent_count_check(@absent_count_hash) %>;'>
    <% Constants::ALL_CODES['absent'].each do |code, data| %>
      <td width="25%" align='center'><%= @absent_count_hash[code] || 0 %></td>
    <% end %>
  </tr>
</table>

<%= link_to '欠席登録する', new_absent_child_path(child_id: @child.id), {type: "button", class: "btn btn-primary"} %>

<% if @all_absent_data.present? %>
  <button id='ab_button' type="button" class="btn btn-default">欠席一覧見る</button>
  <div id='absent_data'>
    <table>
      <tbody>
        <% @all_absent_data.each do |absent_data| %>
          <tr>
            <td><%= date_view(absent_data.dairy.date) %></td>
            <td><%= Constants::ALL_CODES['absent'][absent_data.absent_code][:view_name] %></td>
            <td><%= Constants::ALL_CODES['reason'][absent_data.reason_code].try(:[], 'view_name') %></td>
            <td><%= absent_data.reason_text %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
