<p id="notice"><%= notice %></p>

<h1><font color=<%= @child.sex_code == 'female' ? 'ff0000' : '' %>><%= @child.full_name_f %></font><%= status_str(@child.history_code) %></h1>


<table>
  <tr>
    <td>クラス</td>
    <td bgcolor=<%=Constants::CR_HASH[@child.class_room_id][:color]%> align='center'>
      <%= Constants::CR_HASH[@child.class_room_id][:name] %>
    </td>
  </tr>
  <tr>
    <td>漢字氏名</td>
    <td><%= @child.full_name %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td>
      <%= @child.post_number %><br />
      <%= @child.address %>
    </td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td>
      <%= @child.l_phone_number %><br />
      <%= @child.c_phone_number %>
    </td>
  </tr>
  <tr>
    <td>固有番号</td>
    <td><%= @child.unique_num %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
