<script type="text/javascript">
jQuery(function($){
  // 未定をすべて平常保育に変更
  $("#change_to_full").on('click', function(){
		for( target_id = 1; 31 >= target_id; target_id++ ) {
			var targetSelect = $("#select_" + target_id)
			if( targetSelect.val() == 'undec' ) {
				targetSelect[0].selectedIndex = [<%= Constants::FULL_INDEX %>];
			}
		}
		window.alert('変更しました。確定させるには「上記に更新」ボタンを押してください。');
  });
});
</script>

<%= form_tag :action => 'bulk_update' do %>
<h4>
  <%= link_to('<<', "?ym=#{date_to_ym(@todate.last_month)}") %>
  <%= @todate.strftime('%Y年%m月') %>
  <%= link_to('>>', "?ym=#{date_to_ym(@todate.next_month)}") %>
  <%= button_tag('未定をすべて平常保育に変更', type: 'button', id: 'change_to_full', class: 'btn btn-warning') %>
</h4>

	<%= hidden_field_tag 'ym', params[:ym] %>

	<table>
	  <thead>
	    <tr>
		    <% Constants::DOW.each do |dow| %>
		      <th class='center'><%= dow %></th>
	      <% end %>
	    </tr>
	  </thead>
	  <tbody>
		  <tr>
	      <% @todate.wday.times do %>
	        <td></td>
	      <% end %>
		    <%# for @dairy in @dairies %>
		    <% @dairies.each_with_index do |dairy, i| %>
			    <% @dairy = dairy %>
	        <td class='<%= td_class(@dairy) %>'>
	          <%= @dairy.date.day %><br />
	          <span style='color:#000000;'><%= select 'dairy[]', :dairy_code, Constants::DATE_CODE_LIST, {selected: @dairy.dairy_code}, {id: "select_#{i+1}"} %></span>
	        </td>
			    <!-- 6の場合、土曜日なので表示した後にtr閉じる -->
			    <% if @dairy.date.wday == 6 %>
				    </tr>
				    <tr>
			    <% end %>
		    <% end %>
	    </tr>
	  </tbody>
	</table>


  <%= submit_tag('上記に更新', name: 'edit', class: 'btn btn-success') %>

<% end %>