<br />

<table class='table-bordered table-condensed table-hover'>
  <thead>
    <tr>
      <th>組</th>
      <th>短縮</th>
      <th>担任</th>
      <th>副担任</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @class_rooms.each do |class_room| %>
      <tr bgcolor=<%= class_room.color %>>
        <td><%= link_to class_room.name, class_room %></td>
        <td><%= class_room.short_name %></td>
        <td><%= class_room.teacher_name %></td>
        <td><%= class_room.sub_teacher_name.presence || '-' %></td>
        <td><%= link_to 'Edit', edit_class_room_path(class_room) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
