<p id="notice"><%= notice %></p>

<p>
  <strong>Grade code:</strong>
  <%= @class_room.grade_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @class_room.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @class_room.short_name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @class_room.color %>
</p>

<p>
  <strong>Teacher name:</strong>
  <%= @class_room.teacher_name %>
</p>

<p>
  <strong>Sub teacher name:</strong>
  <%= @class_room.sub_teacher_name %>
</p>

<%= link_to 'Edit', edit_class_room_path(@class_room) %> |
<%= link_to 'Back', class_rooms_path %>
