<p id="notice"><%= notice %></p>

<h1><%= @class_room.name %>組</h1>
<h3><%= @count_str %></h3>

<table>
  <thead>
    <tr>
      <th>名前</th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td>
          <%= link_to child, style: "text-decoration: none;" do %>
            <font color=<%= child.sex_code == 'female' ? 'ff0000' : '' %>><%= child.full_name_f %></font>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
