<br />

<table class='table-bordered table-condensed table-hover'>
	<tr>
		<td align='right' rowspan=2>
			<strong>Dairy</strong>
		</td>
		<td>
			<%= form_tag('manages/dairy_create', method: "post") do %>
			  <%= text_field_tag(:year, "#{Date.today.year}", size: '5') %>年度を
			  <%= submit_tag("作成する") %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>
			詳細設定（予定）
		</td>
	</tr>

	<tr>
		<td align='right' rowspan=2>
			<strong>ChildrenHistory</strong>
		</td>
		<td>
			人数確認（　<%= link_to '4/1', "child_histories/show?date=#{Date.today.year}0401" %>　
			<%= link_to '5/1', "child_histories/show?date=#{Date.today.year}0501" %>　）
		</td>
	</tr>
	<tr>
		<td>
			<%= link_to '今までの一覧', '/child_histories' %>
		</td>
	</tr>

	<tr>
		<td align='right'>
			<strong>Code</strong>
		</td>
		<td>
			<%= link_to '一覧', '/codes' %>
		</td>
	</tr>
</table>
