<table class='table-bordered table-condensed table-hover'>
	<tr>
		<td align='right' rowspan=2>
			<strong>Dairy</strong>
		</td>
		<td>
			<%= form_tag('manages/dairy_create', method: "post") do %>
			  <%= text_field_tag(:year, toyeard, size: '5') %>年度を
			  <%= submit_tag("作成する", class: 'btn btn-success') %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>
			<%# ['04','05','06','07','08','09','10','11','12','01','02','03'].each do |month| %>
			<% 4.upto(12) do |month| %>
				<%= link_info_button("#{month}月", "/dairies?ym=#{toyeard}#{format('%02d', month)}") %>
			<% end %>
			<% 1.upto(3) do |month| %>
				<%= link_info_button("#{month}月", "/dairies?ym=#{toyeard + 1}#{format('%02d', month)}") %>
			<% end %>
		</td>
	</tr>

	<tr>
		<td align='right' rowspan=2>
			<strong>ChildrenHistory</strong>
		</td>
		<td>
			人数確認：
			<%= link_info_button('4/1', "child_histories/show?date=#{Date.today.year}0401") %>
			<%= link_info_button('5/1', "child_histories/show?date=#{Date.today.year}0501") %>
		</td>
	</tr>
	<tr>
		<td>
			<%= link_info_button('今までの一覧', '/child_histories') %>
		</td>
	</tr>

	<tr>
		<td align='right'>
			<strong>Code</strong>
		</td>
		<td>
			<%= link_info_button('一覧', '/codes') %>
		</td>
	</tr>
</table>
