<script type="text/javascript">
jQuery(function($){
  // B時 → C時を＋２
  // B分 → C分に同じもの
  $("#bus_course_b_departure_time_4i").change(function(){
    auto_set("#bus_course_b_departure_time_4i");
  });

  $("#bus_course_b_departure_time_5i").change(function(){
    auto_set("#bus_course_b_departure_time_5i");
  });

  $("#bus_course_b_arrival_time_4i").change(function(){
    auto_set("#bus_course_b_arrival_time_4i");
  });

  $("#bus_course_b_arrival_time_5i").change(function(){
    auto_set("#bus_course_b_arrival_time_5i");
  });

  function auto_set(base){
    var base_num = $(base).prop("selectedIndex");
    var h_or_m = base.match(/\d/);
    var insert_num = h_or_m == '4' ? base_num + 2 : base_num;
    $(base.replace( '_b_' , '_c_' )).prop("selectedIndex", insert_num);
  }
});
</script>

<%= form_for(bus_course) do |f| %>
  <% if bus_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bus_course.errors.count, "error") %> prohibited this bus_course from being saved:</h2>

      <ul>
      <% bus_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bus_id, 'バス' %>
    <%= f.select :bus_id, @buses, {selected: bus_course.bus_id, prompt: '選択してください'} %>
  </div>

  <div class="field" style="display:inline-flex">
    <%= f.radio_button :number, 1 %><%= f.label 'number_1', '１コース' %>
    <%= f.radio_button :number, 2 %><%= f.label 'number_2', '２コース' %>
    <%= f.radio_button :number, 3 %><%= f.label 'number_3', '３コース' %>
  </div>

  <div class="field">
    <%= f.label :color_name, '色名' %>
    <%= f.text_field :color_name %>
  </div>

  <div class="field">
    <%= f.label :color, 'RGB' %>
    <%= f.text_field :color %>
  </div>

  <table>
    <tr>
      <td></td>
      <td>出発時刻</td>
      <td>到着時刻</td>
    </tr>
    <tr>
      <td>迎え</td>
      <td><%= f.time_select :a_departure_time %></td>
      <td><%= f.time_select :a_arrival_time %></td>
    </tr>
    <tr>
      <td>送り（午前保育）</td>
      <td><%= f.time_select :b_departure_time %></td>
      <td><%= f.time_select :b_arrival_time %></td>
    </tr>
    <tr>
      <td>送り（平常保育）</td>
      <td><%= f.time_select :c_departure_time %></td>
      <td><%= f.time_select :c_arrival_time %></td>
    </tr>
  </table>

  <div class="actions">
    <% action_str = (action_name == 'new' ? '登録' : '変更') %>
    <%= f.submit(action_str, class: 'btn btn-success') %>
    <%= back_button_ww(action_str) %>
  </div>
<% end %>
