<script type="text/javascript">
jQuery(function($){
  // B時 → C時を＋２
  // B分 → C分に同じもの
  $("#bus_course_b_departure_time_4i").change(function(){
    auto_set("#bus_course_b_departure_time_4i");
  });

  $("#bus_course_b_departure_time_5i").change(function(){
    auto_set("#bus_course_b_departure_time_5i");
  });

  $("#bus_course_b_arrival_time_4i").change(function(){
    auto_set("#bus_course_b_arrival_time_4i");
  });

  $("#bus_course_b_arrival_time_5i").change(function(){
    auto_set("#bus_course_b_arrival_time_5i");
  });

  function auto_set(base){
    var base_num = $(base).prop("selectedIndex");
    var h_or_m = base.match(/\d/);
    var insert_num = h_or_m == '4' ? base_num + 2 : base_num;
    $(base.replace( '_b_' , '_c_' )).prop("selectedIndex", insert_num);
  }
});
</script>

<%= form_for(bus_course) do |f| %>
  <% if bus_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bus_course.errors.count, "error") %> prohibited this bus_course from being saved:</h2>

      <ul>
      <% bus_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bus_id %>
    <%= f.number_field :bus_id %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :color_name %>
    <%= f.text_field :color_name %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :a_departure_time %>
    <%= f.time_select :a_departure_time %>
  </div>

  <div class="field">
    <%= f.label :a_arrival_time %>
    <%= f.time_select :a_arrival_time %>
  </div>

  <div class="field">
    <%= f.label :b_departure_time %>
    <%= f.time_select :b_departure_time %>
  </div>

  <div class="field">
    <%= f.label :b_arrival_time %>
    <%= f.time_select :b_arrival_time %>
  </div>

  <div class="field">
    <%= f.label :c_departure_time %>
    <%= f.time_select :c_departure_time %>
  </div>

  <div class="field">
    <%= f.label :c_arrival_time %>
    <%= f.time_select :c_arrival_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
