<script type="text/javascript">
jQuery(function($){
  // 最初に隠す
  $('#children').hide();

  // ボタン押したときの挙動
  $("#bs_button").on('click', function(){
    if($('#schedule').css('display') != 'none'){
      $('#schedule').hide();
      $('#children').show();
      $(this).html('時刻表に切り替え');
    }else{
      $('#schedule').show();
      $('#children').hide();
      $(this).html('園児リストに切り替え');
    }
  });
});
</script>

<button id='bs_button' type="button" class="btn btn-default">園児リストに切り替え</button>
<div id='schedule'>
  <table class='table'>
    <tr>
      <td>バス停</td>
      <td>迎え</td>
      <td>送り（午前）</td>
      <td>送り（平常）</td>
    </tr>

    <tr>
      <td>麻の実幼稚園</td>
      <td><%= @bus_course.a_departure_time.to_s(:hhmm) %></td>
      <td><%= @bus_course.b_departure_time.to_s(:hhmm) %></td>
      <td><%= @bus_course.c_departure_time.to_s(:hhmm) %></td>
    </tr>

    <% @bus_stop_list.each do |bus_stop| %>
      <tr>
        <td><%= bus_stop.name %></td>
        <td><%= bus_stop.a_arrival_time.to_s(:hhmm) %></td>
        <td><%= bus_stop.b_arrival_time.to_s(:hhmm) %></td>
        <td><%= bus_stop.c_arrival_time.to_s(:hhmm) %></td>
      </tr>
    <% end %>

    <tr>
      <td>麻の実幼稚園</td>
      <td><%= @bus_course.a_arrival_time.to_s(:hhmm) %></td>
      <td><%= @bus_course.b_arrival_time.to_s(:hhmm) %></td>
      <td><%= @bus_course.c_arrival_time.to_s(:hhmm) %></td>
    </tr>
  </table>
</div>

<div id='children'>
  <table class='table'>
    <tr>
      <td>バス停</td>
      <td>メイン</td>
      <td>サブ</td>
    </tr>

    <tr>
      <td>麻の実幼稚園</td>
      <td colspan = 2></td>
    </tr>

    <% @bus_stop_list.each do |bus_stop| %>
      <tr>
        <td><%= bus_stop.name %></td>
        <td>
          <% (@main_used_children_hash[bus_stop.id] || []).each do |child| %>
            <%= link_to child.full_name_f, child %><br/>
          <% end %>
        </td>
        <td>
          <% (@sub_used_children_hash[bus_stop.id] || []).each do |child| %>
            <%= link_to child.full_name_f, child %><br/>
          <% end %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>麻の実幼稚園</td>
      <td colspan = 2></td>
    </tr>
  </table>
</div>

<%= back_button %>