<%= form_for(absent_child) do |f| %>
  <% if absent_child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(absent_child.errors.count, "error") %> prohibited this absent_child from being saved:</h2>

      <ul>
      <% absent_child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    日付<br />
    <%= date_select :dairy, :date, { discard_year: true, 
                                     use_month_numbers: true, 
                                     date_separator: '/',
                                     default: params[:date].try(:to_date) } %>
    <%#= f.label :dairy_id %>
    <%#= f.date_select :dairy_id, class: "form-control", discard_year: true, use_month_numbers: true, date_separator: '/' %>
  </div>

  <div class="field">
    園児<br />
    <%= f.select :child_id, @children_list, :selected => absent_child.child_id, :prompt => '選択してください' %>
  </div>

  <div class="field" style="display:inline-flex">
    <% absent_list.each do |absent_code| %>
      <%= radio_button :absent_child, :absent_code, absent_code[0], checked: absent_code[0] == 'absent' %>
      <%= label "absent_child_absent_code", absent_code[0], absent_code[1] %>
    <% end %>
  </div>

  <div class="field">
    理由<%= f.select :reason_code, reason_list, :prompt => '選択してください' %>
  </div>

  <div class="field">
    その他連絡事項<br />
    <%= f.text_area :reason_text %>
  </div>

  <div class="actions">
    <% action_str = (action_name == 'new' ? '登録' : '変更') %>
    <%= f.submit(action_str, class: 'btn btn-success') %>
    <%= back_button_ww(action_str) %>
  </div>
<% end %>
