<%= form_for(absent_child) do |f| %>
  <% if absent_child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(absent_child.errors.count, "error") %> prohibited this absent_child from being saved:</h2>

      <ul>
      <% absent_child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    日付<br />
    <%= date_select :dairy, :date, discard_year: true, use_month_numbers: true, date_separator: '/' %>
    <%#= f.label :dairy_id %>
    <%#= f.date_select :dairy_id, class: "form-control", discard_year: true, use_month_numbers: true, date_separator: '/' %>
  </div>

  <div class="field">
    <%= f.label :child_id %>
    <%= f.select :child_id, @children_list, :selected => absent_child.child_id, :prompt => '選択してください' %>
  </div>

  <div class="field">
    <%= f.label :absent_code %>
    <%= f.select :absent_code, absent_list, :selected => "absent" %>
  </div>

  <div class="field">
    <%= f.label :reason_code %>
    <%= f.select :reason_code, reason_list, :prompt => '選択してください' %>
  </div>

  <div class="field">
    <%= f.label :reason_text %>
    <%= f.text_area :reason_text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
