<p id="notice"><%= notice %></p>

<h1>
  <%= link_to('<<', "?date=#{@target_date - 1}") %>
  <%= @today %>
  <%= link_to('>>', "?date=#{@target_date + 1}") %>
  の欠席・早退・遅刻情報
</h1>

<table>
  <thead>
    <tr>
      <th>クラス</th>
      <th>名前</th>
      <th></th>
      <th>理由</th>
      <th>理由（詳細）</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @absent_children.each do |absent_child| %>
      <tr>
        <td bgcolor=<%=Constants::CR_HASH[absent_child.class_room_id][:color]%>>
          <%= Constants::CR_HASH[absent_child.class_room_id][:name] %>
        </td>
        <td><%= absent_child.child.full_name_f %></td>
        <td>　　<%= absent_view_name(absent_child.absent_code) %></td>
        <td><%= reason_view_name(absent_child.reason_code) %></td>
        <td><%= absent_child.reason_text %></td>
        <td><%= link_to 'Edit', edit_absent_child_path(absent_child, date: @target_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '欠席者を登録する', new_absent_child_path(date: @target_date) %>
